@import '../../../styles.scss';
@import '../userbooks/userbooks.component.scss';

section{
    background-color: $navBgColor;
    

}
a{
    text-decoration: none;
    color          : #fff;

    &:hover {
        text-decoration: underline;
    }
}
